//bootstrap overrides
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: $darkBlue;
}
.btn.btn-primary {
  background-color: $blue;
  margin-top: 5px;
}

blockquote {
  border-color: $darkBlue;
}
