.container {
  max-width: 960px;
  border: 5px solid #ccc;
  padding: 0;

  .no-pad-left {
    padding-left: 0;
  }
  .no-pad-right {
    padding-right: 0;
  }

header {
  text-align: center;
  background-color: $blue;
  color: #fff;
  height: 150px;
  border: none;
  border-bottom: 10px solid $darkBlue;
  padding-top: 3em;
  h1 {
    font-weight: bold;
  }
  @media (max-width: $screen-sm-max) {
    height: 90px;
    border-bottom: 3px solid $darkBlue;
    padding-top: 0.8em;
  }


}
nav.navbar {
  border: none;
  padding: 5px 15px;
  border-bottom: 20px solid $gray;
  border-radius: 0;
  margin-bottom: 0px;
}

main {
  border-right: 10px solid $gray;
  padding: 15px 0px;

  article {
    border-bottom: 1px solid $gray;
    float: left;
    margin: 7px 5px 7px 15px;
    padding-bottom: 15px;
    &:last-child {
      border-bottom: none;
    }
  }

  h2 {
    color: $blue;
    font-size: 1.5em;
    font-weight: bold;
  }
  a {
    color: $blue;
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
  }
  p {
    font-size: 0.9em;
    padding-top: 15px;
  }
  img {width: 100%;}
}



}
