.sidebar {
  padding-bottom: 15px;
  border-bottom: 1px solid $gray;
  &:last-child {
    border-bottom: none;
  }
  h3 {
    color: $blue;
    font-size: 1.2em;
    font-weight: bold;
  }
  img {
    width: 100%;
  }
}
