* {
  box-sizing: border-box; }

html {
  background-color: #fff; }

body {
  font-size: 14px; }

.container {
  max-width: 960px;
  border: 5px solid #ccc;
  padding: 0; }
  .container .no-pad-left {
    padding-left: 0; }
  .container .no-pad-right {
    padding-right: 0; }
  .container header {
    text-align: center;
    background-color: #3292ff;
    color: #fff;
    height: 150px;
    border: none;
    border-bottom: 10px solid #1b304c;
    padding-top: 3em; }
    .container header h1 {
      font-weight: bold; }
    @media (max-width: 767px) {
      .container header {
        height: 90px;
        border-bottom: 3px solid #1b304c;
        padding-top: 0.8em; } }
  .container nav.navbar {
    border: none;
    padding: 5px 15px;
    border-bottom: 20px solid #ccc;
    border-radius: 0;
    margin-bottom: 0px; }
  .container main {
    border-right: 10px solid #ccc;
    padding: 15px 0px; }
    .container main article {
      border-bottom: 1px solid #ccc;
      float: left;
      margin: 7px 5px 7px 15px;
      padding-bottom: 15px; }
      .container main article:last-child {
        border-bottom: none; }
    .container main h2 {
      color: #3292ff;
      font-size: 1.5em;
      font-weight: bold; }
    .container main a {
      color: #3292ff;
      font-size: 1em;
      text-decoration: underline;
      font-weight: bold; }
    .container main p {
      font-size: 0.9em;
      padding-top: 15px; }
    .container main img {
      width: 100%; }

.sidebar {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc; }
  .sidebar:last-child {
    border-bottom: none; }
  .sidebar h3 {
    color: #3292ff;
    font-size: 1.2em;
    font-weight: bold; }
  .sidebar img {
    width: 100%; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #1b304c; }

.btn.btn-primary {
  background-color: #3292ff;
  margin-top: 5px; }

blockquote {
  border-color: #1b304c; }
